# Dependencies
node_modules/
package-lock.json
yarn.lock

# Production
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache
.cache/
.npm/
.eslintcache

# Webpack
.webpack/

# Optional
coverage/
.nyc_output/
